<h2>HIGHLIGHTS</h2>
<br>
<div class="highlights-div">
    <div class="highlights-content">
        <mat-card class="highlights-card">
            <img id="img0" src="../../../assets/img1/001.jpg" [routerLink]="'/stories/story01'" class="highlights">
            <img id="img0" src="../../../assets/img2/001.jpg" [routerLink]="'/stories/story02'" class="highlights">
            <img id="img0" src="../../../assets/img3/001.jpg" [routerLink]="'/stories/story03'" class="highlights">
            <img id="img0" src="../../../assets/img4/001.jpg" [routerLink]="'/stories/story04'" class="highlights">
        </mat-card>
    </div>
</div>

<hr>

<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src="../../../assets/img1/001.jpg" style="width:100%">
    <img src="../../../assets/img4/003.jpg" style="width:100%">
    <img src="../../../assets/img4/005.jpg" style="width:100%">
    <img src="../../../assets/img4/002.jpg" style="width:100%">
    <img src="../../../assets/img4/004.jpg" style="width:100%">
    <img src="../../../assets/img4/006.jpg" style="width:100%">
    <img src="../../../assets/img4/005.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="../../../assets/img4/001.jpg" style="width:100%">
    <img src="../../../assets/img2/003.jpg" style="width:100%">
    <img src="../../../assets/img3/005.jpg" style="width:100%">
    <img src="../../../assets/img3/002.jpg" style="width:100%">
    <img src="../../../assets/img2/004.jpg" style="width:100%">
    <img src="../../../assets/img1/006.jpg" style="width:100%">
    <img src="../../../assets/img1/005.jpg" style="width:100%">
  </div>  
  <div class="column">
    <img src="../../../assets/img4/001.jpg" style="width:100%">
    <img src="../../../assets/img4/003.jpg" style="width:100%">
    <img src="../../../assets/img3/005.jpg" style="width:100%">
    <img src="../../../assets/img3/002.jpg" style="width:100%">
    <img src="../../../assets/img2/004.jpg" style="width:100%">
    <img src="../../../assets/img1/006.jpg" style="width:100%">
    <img src="../../../assets/img1/005.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="../../../assets/img4/001.jpg" style="width:100%">
    <img src="../../../assets/img3/003.jpg" style="width:100%">
    <img src="../../../assets/img3/005.jpg" style="width:100%">
    <img src="../../../assets/img2/002.jpg" style="width:100%">
    <img src="../../../assets/img1/004.jpg" style="width:100%">
    <img src="../../../assets/img4/006.jpg" style="width:100%">
    <img src="../../../assets/img4/005.jpg" style="width:100%">
  </div>
</div>
