.highlights {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 7vw;
  outline: none;
}
#img0 {
  padding-top: 5px;
  padding-bottom: 5px;
}
#img0.highlights:hover {
  opacity: 0.9;
  border-radius: 50%;
  border: 6px solid white;
  outline: none;
  transition: 0.6s;
  -webkit-transition: 0.4s;
}
#img0.highlights:link {
  opacity: 0.9;
  border-radius: 50%;
  outline: none;
  transition: 0.4s;

}

.highlights-div {
  width: 100vw;
}

.highlights-content {
  text-align: center;
}

h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(0, 0, 0);
}


h3 {
  margin-right: 13.5%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}



.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
