<h2>STORY HIGHLIGHTS</h2>
<br>
<div class="highlights-div">
    <div class="highlights-content">
        <mat-card class="highlights-card">
            <img id="img0" src="../../../assets/img1/001.jpg" [routerLink]="'/stories/story01'" class="highlights">
            <img id="img0" src="../../../assets/img2/001.jpg" [routerLink]="'/stories/story02'" class="highlights">
            <img id="img0" src="../../../assets/img3/001.jpg" [routerLink]="'/stories/story03'" class="highlights">
            <img id="img0" src="../../../assets/img4/001.jpg" [routerLink]="'/stories/story04'" class="highlights">
        </mat-card>
    </div>
</div>